<div class="head">
    <ul class="men">
        <li>
            <img class="log" src="https://media.istockphoto.com/id/1138834617/es/vector/retrato-de-perro-pug-con-gafas-ilustraci%C3%B3n-dibujada-a-mano.jpg?s=612x612&w=0&k=20&c=vFEV-QgwvDTw_OhPLf8E4vdo9Jsut_WKzqojoglWTck=">
            <p>Los "pug", también conocidos como carlinos o doguillos, son perros de baja altura y aspecto macizo. Al igual que los boxer o los bulldog, son lo que se conoce como braquicéfalos, especies de cara plana o achatada y hocico corto.</p>
        </li>
    </ul>
</div>
